body {
    background-color: #ffffff;
    color: black;
}

.section-box {
    width: 100%;
    height: auto;

    .section-box-header {
        width: 100%;
        height: 7px;
        background-image: url('/static/images/top_border.jpg');

        .section-box-top-left-corner {
            float: left;
            width: 10px;
            height: 7px;
            background-image: url('/static/images/top_left_corner.jpg');
        }

        .section-box-top-right-corner {
            float: right;
            width: 10px;
            height: 7px;
            background-image: url('/static/images/top_right_corner.jpg');
        }
    }

    .section-box-middle {
        display: flex;
        align-items: stretch;
        
        .section-box-content {
            flex-grow: 1;
        }

        .section-box-left-border {
            margin: 0;
            width: 7px;
            background-image: url('/static/images/section_box/double/left_border.jpg');
            flex-shrink: 0;
        }

        .section-box-right-border {
            margin: 0;
            width: 7px;
            background-image: url('/static/images/section_box/double/right_border.jpg');
            flex-shrink: 0;
        }
    }

    .section-box-footer {
        width: 100%;
        height: 7px;
        background-image: url('/static/images/section_box/double/bottom_border.jpg');

        .section-box-bottom-left-corner {
            float: left;
            width: 10px;
            height: 7px;
            background-image: url('/static/images/section_box/double/bottom_left_corner.jpg');
        }

        .section-box-bottom-right-corner {
            float: right;
            width: 10px;
            height: 7px;
            background-image: url('/static/images/section_box/double/bottom_right_corner.jpg');
        }
    }
}