body {
    background-color: #222222;
    color: white;
}

.section-box {
    width: 100%;
    height: auto;

    .section-box-header {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }

    .section-box-left-border {
        width: 3px;
        height: auto;
        background-color: #ffffff;
        float: left;
        margin-right: 10px;
        
    }
    .section-box-right-border {
        width: 3px;
        height: auto;
        background-color: #ffffff;
        float: right;
        margin-left: 10px;
    }
    .section-box-header {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
}