body {
    background-color: #ffffff;
    color: black;
}

.section-box {
    width: 100%;
    height: auto;

    .section-box-header {
        width: 100%;
        height: 7px;
        background-image: url('/static/images/top_border.jpg');
    }

    .section-box-left-border {
        width: 3px;
        height: auto;
        background-color: #ffffff;
        float: left;
        margin-right: 10px;

    }
    .section-box-right-border {
        width: 3px;
        height: auto;
        background-color: #ffffff;
        float: right;
        margin-left: 10px;
    }
    .section-box-footer {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
}