body {
    background-color: #ffffff;
    color: black;
}

.section-box {
    width: 100%;
    height: auto;

    .section-box-header {
        width: 100%;
        height: 7px;
        background-image: url('/static/images/top_border.jpg');
    }

    .section-box-content {
        display: flex;
        align-items: stretch;
    }

    .section-box-left-border {
        width: 7px;
        background-image: url('/static/images/left_border.jpg');
        flex-shrink: 0;
        margin-right: 10px;
    }

    .section-box-right-border {
        width: 7px;
        background-image: url('/static/images/right_border.jpg');
        flex-shrink: 0;
        margin-left: 10px;
    }

    .section-box-footer {
        width: 100%;
        height: 7px;
        background-image: url('/static/images/bottom_border.jpg');
    }
}