backend/db.sqlite3
backend/**/__pycache__/
backend/static/
backend/lizard_report.html
backend/weave/static/
backend/**/__pycache__/
backend/db.sqlite3

frontend/dist
frontend/.nyc_output/
frontend/report/

httpd/*
.env.prod

docker_volumes/*
