services:
  weave_mysql:
    image: mysql:9.3.0
    container_name: weave_mysql
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: weave
    ports:
      - 127.0.0.1:$WEAVE_MYSQL_PORT:3306
    volumes:
      - ./docker_volumes/mysql_data:/var/lib/mysql

  weave_prod_mysql:
    image: mysql:9.3.0
    container_name: weave_prod_mysql
    env_file: .env.prod
    environment:
      MYSQL_ROOT_PASSWORD: weave
    volumes:
      - ./docker_volumes/mysql_data:/var/lib/mysql

  #################### Base  ####################

  base: &base
    image: darthjee/weave
    volumes:
      - ./backend:/home/app/app
    links:
      - weave_mysql:mysql
    env_file: .env

  base_build:
    <<: *base
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.weave
    command: echo done

  base_prod: &base_prod
    <<: *base
    image: darthjee/production_weave
    links:
      - weave_prod_mysql:mysql
    env_file: .env.prod

  base_prod_build:
    <<: *base_prod
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.production_weave
    command: echo done


  #################### DEV CONTAINERS ####################

  weave_app: &weave_app
    <<: *base
    container_name: weave_app
    depends_on:
      - base_build
      - weave_mysql
      - weave_phpmyadmin
    ports:
      - 127.0.0.1:3030:8080
    environment:
      - WEAVE_MYSQL_PORT=3306

  weave_fe:
    container_name: weave_fe
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.vite_weave
    volumes:
      - ./frontend:/home/node/app
      - ./docker_volumes/node_modules:/home/node/app/node_modules
      - ./docker_volumes/static:/home/node/app/dist
    ports:
      - 127.0.0.1:3010:8080
    env_file: .env

  weave_tests:
    <<: *base
    container_name: weave_tests
    depends_on: [base_build]

  weave_root:
    <<: *weave_app
    user: root
    command: /bin/bash
  
  weave_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: weave_phpmyadmin
    depends_on: [weave_mysql]
    links:
      - weave_mysql:mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: weave
      MYSQL_PASSWORD: weave
    ports:
      - 127.0.0.1:3050:80

  weave_httpbin:
    image: kennethreitz/httpbin
    container_name: weave_httpbin
    ports:
      - 127.0.0.1:3060:80

  weave_proxy:
    image: darthjee/tent:0.0.1
    container_name: weave_proxy
    env_file: .env
    volumes:
      - ./proxy/source/static/:/var/www/html/static/
      - ./docker_volumes/static/index.html:/var/www/html/static/static/index.html
      - ./docker_volumes/static/assets/js/:/var/www/html/static/assets/js/
      - ./docker_volumes/static/assets/css/:/var/www/html/static/assets/css/
      - ./docker_volumes/proxy_configuration:/var/www/html/configuration/
    links:
      - weave_app:backend
      - weave_fe:frontend
      - weave_httpbin:httpbin
    depends_on:
      - weave_app
      - weave_fe
      - weave_httpbin
    ports:
      - 127.0.0.1:3000:80

  #################### PROD CONTAINERS ####################

  weave_prod_app:
    <<: *base_prod
    container_name: weave_prod_app
    depends_on:
      - base_prod_build
      - weave_prod_mysql
    ports:
      - 127.0.0.1:3030:8080
    environment:
      - STAGE=production

  weave_prod_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: weave_prod_phpmyadmin
    depends_on: [weave_prod_mysql]
    links:
      - weave_prod_mysql:mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: weave
      MYSQL_PASSWORD: weave
    ports:
      - 127.0.0.1:3050:80
