services:
  weave_mysql:
    image: mysql:9.3.0
    container_name: weave_mysql
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: weave
    ports:
      - 127.0.0.1:$WEAVE_MYSQL_PORT:3306

  weave_prod_mysql:
    image: mysql:9.3.0
    container_name: weave_prod_mysql
    env_file: .env.prod
    environment:
      MYSQL_ROOT_PASSWORD: weave

  #################### Base  ####################

  base: &base
    image: darthjee/weave
    volumes:
      - ./backend:/home/app/app
      - ./frontend/:/home/app/app/templates
    links:
      - weave_mysql:mysql
    env_file: .env

  base_build:
    <<: *base
    build:
      context: .
      dockerfile: Dockerfile.weave
    command: echo done

  base_prod: &base_prod
    <<: *base
    image: darthjee/production_weave
    links:
      - weave_prod_mysql:mysql
    env_file: .env.prod

  base_prod_build:
    <<: *base_prod
    build:
      context: .
      dockerfile: Dockerfile.production_weave
    command: echo done


  #################### DEV CONTAINERS ####################

  weave_app: &weave_app
    <<: *base
    container_name: weave_app
    depends_on: [base_build, weave_mysql, weave_fe, weave_phpmyadmin]
    ports:
      - 127.0.0.1:3030:8080
    environment:
      - WEAVE_MYSQL_PORT=3306

  weave_fe:
    container_name: weave_fe
    build:
      context: .
      dockerfile: Dockerfile.vite_weave
    volumes:
      - ./frontend:/home/node/app
    ports:
      - 127.0.0.1:3000:8080

  weave_tests:
    <<: *base
    container_name: weave_tests
    depends_on: [base_build]

  weave_root:
    <<: *weave_app
    user: root
    command: /bin/bash
  
  weave_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: weave_phpmyadmin
    depends_on: [weave_mysql]
    links:
      - weave_mysql:mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_PASSWORD: weave
    ports:
      - 127.0.0.1:3050:80

  #################### PROD CONTAINERS ####################

  weave_prod_app:
    <<: *base_prod
    container_name: weave_prod_app
    depends_on:
      - base_prod_build
      - weave_prod_mysql
      - weave_prod_static
    ports:
      - 127.0.0.1:3030:8080
    environment:
      - STAGE=production

  weave_prod_static:
    image: httpd:latest
    ports:
      - 127.0.0.1:3000:80
