version: 2
workflows:
  version: 2
  test:
    jobs:
      - pytest:
          filters:
            tags:
              only: /.*/
      - jasmine:
          filters:
            tags:
              only: /.*/
      - checks:
          filters:
            tags:
              only: /.*/
      - build-and-release:
          requires: [pytest, jasmine, checks]
          filters:
            tags:
              only: /.*/
            branches:
              only:
                - main
      - upload_static_files:
          requires: [build-and-release]
          filters:
            tags:
              only: /.*/
            branches:
              only:
                - main
jobs:
  pytest:
    docker:
      - image: darthjee/circleci_weave-base:0.0.1
        environment:
          WEAVE_MYSQL_HOST: mysql
          WEAVE_MYSQL_PORT: 3306
          WEAVE_MYSQL_USER: weave
          WEAVE_MYSQL_NAME: weave
          WEAVE_MYSQL_PASSWORD: weave
      - image: cimg/mysql:8.0
        name: mysql
        environment:
          MYSQL_DATABASE: weave
          MYSQL_USER: weave
          MYSQL_PASSWORD: weave
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* backend/.??* ./ -r; rm backend -rf
      - run:
          name: Poetry Install
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: migrate
          command: bin/configure_database.sh all
      - run:
          name: Tests
          command: poetry run pytest

  jasmine:
    docker:
      - image: darthjee/circleci_weave-base:0.0.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* backend/.??* ./ -r; rm backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Tests
          command: npm test

  checks:
    docker:
      - image: darthjee/circleci_weave-base:0.0.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* backend/.??* ./ -r; rm backend -rf
      - run:
          name: Poetry Install
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Check python Lint
          command: poetry run ruff check . --fix
      - run:
          name: Check JS Lint
          command: npm run lint
      - run:
          name: Check Python complexity
          command: bin/reports.sh ci
  build-and-release:
    machine: true
    steps:
      - checkout
      - run:
          name: Trigger Deploy
          command: scripts/deploy.sh deploy
  upload_static_files:
    docker:
      - image: darthjee/circleci_weave-base:0.0.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* backend/.??* ./ -r; rm backend -rf
      - run:
          name: Install packages
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: Upload static files
          command: bin/deploy.sh build_and_upload
