version: 2
workflows:
  version: 2
  test:
    jobs:
      - pytest:
          filters:
            tags:
              only: /.*/
      - jasmine:
          filters:
            tags:
              only: /.*/
      - checks:
          filters:
            tags:
              only: /.*/
      - frontend-checks:
          filters:
            tags:
              only: /.*/
      - build-and-release:
          requires: [pytest, jasmine, frontend-checks, checks]
          filters:
            tags:
              only: /\d+\.\d+\.\d+/
            branches:
              ignore: /.*/
      - upload_fe_files:
          requires: [pytest, jasmine, frontend-checks, checks]
          filters:
            tags:
              only: /\d+\.\d+\.\d+/
            branches:
              ignore: /.*/
      - upload_static_files:
          requires: [pytest, jasmine, frontend-checks, checks]
          filters:
            tags:
              only: /\d+\.\d+\.\d+/
            branches:
              ignore: /.*/
      - release_static_files:
          requires: [build-and-release, upload_fe_files, upload_static_files]
          filters:
            tags:
              only: /\d+\.\d+\.\d+/
            branches:
              ignore: /.*/
jobs:
  pytest:
    docker:
      - image: darthjee/circleci_weave-base:0.0.3
        environment:
          WEAVE_MYSQL_HOST: mysql
          WEAVE_MYSQL_PORT: 3306
          WEAVE_MYSQL_USER: root
          WEAVE_MYSQL_NAME: weave
          WEAVE_MYSQL_PASSWORD: weave
      - image: cimg/mysql:8.0
        name: mysql
        environment:
          MYSQL_DATABASE: weave
          MYSQL_USER: weave
          MYSQL_PASSWORD: weave
          MYSQL_ROOT_PASSWORD: weave
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* ./ -r; rm frontend backend -rf
      - run:
          name: Poetry Install
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: migrate
          command: bin/configure_database.sh all
      - run:
          name: Tests
          command: poetry run pytest

  jasmine:
    docker:
      - image: darthjee/circleci_node:0.2.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Tests
          command: npm test

  checks:
    docker:
      - image: darthjee/circleci_weave-base:0.0.3
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* ./ -r; rm frontend backend -rf
      - run:
          name: Poetry Install
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: Check python Lint
          command: poetry run ruff check . --fix
      - run:
          name: Check Python complexity
          command: bin/reports.sh ci
  frontend-checks:
    docker:
      - image: darthjee/circleci_node:0.2.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Check JS Lint
          command: npm run lint
  build-and-release:
    machine: true
    steps:
      - checkout
      - run:
          name: Trigger Deploy
          command: scripts/deploy.sh deploy
  upload_fe_files:
    docker:
      - image: darthjee/vite_weave-base:0.0.3
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Build assets
          command: bin/deploy.sh build
      - run:
          name: Generate key file
          command: bin/deploy.sh generate_key_file
      - run:
          name: Upload assets
          command: SOURCE=dist/ bin/deploy.sh upload
  upload_static_files:
    docker:
      - image: darthjee/vite_weave-base:0.0.3
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp static/* ./ -r; rm frontend backend -rf
      - run:
          name: Generate key file
          command: deploy_frontend.sh generate_key_file
      - run:
          name: Upload assets
          command: deploy_frontend.sh upload
  release_static_files:
    docker:
      - image: darthjee/vite_weave-base:0.0.3
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Generate key file
          command: bin/deploy.sh generate_key_file
      - run:
          name: Release assets
          command: deploy_frontend.sh release
