version: 2
workflows:
  version: 2
  test:
    jobs:
      - pytest:
          filters:
            tags:
              only: /.*/
      - jasmine:
          filters:
            tags:
              only: /.*/
      - checks:
          filters:
            tags:
              only: /.*/
      - frontend-checks:
          filters:
            tags:
              only: /.*/
      - build-and-release:
          requires: [pytest, jasmine, frontend-checks, checks]
          filters:
            tags:
              only: /.*/
            branches:
              only:
                - main
      - upload_static_files:
          requires: [pytest, jasmine, frontend-checks, checks]
          filters:
            tags:
              only: /.*/
jobs:
  pytest:
    docker:
      - image: darthjee/circleci_weave-base:0.0.2
        environment:
          WEAVE_MYSQL_HOST: mysql
          WEAVE_MYSQL_PORT: 3306
          WEAVE_MYSQL_USER: weave
          WEAVE_MYSQL_NAME: weave
          WEAVE_MYSQL_PASSWORD: weave
      - image: cimg/mysql:8.0
        name: mysql
        environment:
          MYSQL_DATABASE: weave
          MYSQL_USER: weave
          MYSQL_PASSWORD: weave
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* ./ -r; rm frontend backend -rf
      - run:
          name: Poetry Install
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: migrate
          command: bin/configure_database.sh all
      - run:
          name: Tests
          command: poetry run pytest

  jasmine:
    docker:
      - image: darthjee/circleci_node:0.2.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Tests
          command: npm test

  checks:
    docker:
      - image: darthjee/circleci_weave-base:0.0.2
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp backend/* ./ -r; rm frontend backend -rf
      - run:
          name: Poetry Install
          command: poetry install --no-root --no-interaction --no-ansi
      - run:
          name: Check python Lint
          command: poetry run ruff check . --fix
      - run:
          name: Check Python complexity
          command: bin/reports.sh ci
  frontend-checks:
    docker:
      - image: darthjee/circleci_node:0.2.1
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Check JS Lint
          command: npm run lint
  build-and-release:
    machine: true
    steps:
      - checkout
      - run:
          name: Trigger Deploy
          command: scripts/deploy.sh deploy
  upload_static_files:
    docker:
      - image: darthjee/vite_weave-base:0.0.2
    steps:
      - checkout
      - run:
          name: Set folder
          command: cp frontend/* frontend/.??* ./ -r; rm frontend backend -rf
      - run:
          name: Yarn install
          command: yarn install
      - run:
          name: Build assets
          command: npm run build
      - run: Generate key file
          command: |
            echo "$SSH_PRIVATE_KEY" > ~/ssh_key
            chmod 600 ~/ssh_key
            export SSH_KEY_FILE_PATH=~/ssh_key
      - run:
          name: Upload assets
          command: rsync -avz --delete -e \"ssh -i $SSH_KEY_FILE_PATH -p $SSH_PORT\" dist/ $SSH_USER@$SSH_HOST:$SSH_REMOTE_DIR
